.btn {
    background-color: #353535;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn.full-width {
    width: 100%;
}

.btn.primary {
    background-color: #007bff;
}

.btn.secondary {
    background-color: #6c757d;
}

.btn.danger {
    background-color: #dc3545;
}

.btn:hover {
    opacity: 0.8;
}

.btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

